pandas 
numpy 
scikit-learn 
flask 
streamlit 
matplotlib 
seaborn 
requests
reportlab
plotly
xgboost
textblob
gunicorn
python-dotenv 
langchain
langchain_community
openai
flask-cors 
transformers 
pdfplumber 
torch  

folium 
streamlit-folium
sqlalchemy 
pymysql
bs4
debugpy 
streamlit-geolocation
selenium